.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  width: 100vw;
}

.header {
  width: 100vw;
  background-color: white;
  color: black;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  /* ^ this centers .h1 within the header div */
  padding: 10px 0;
  width: 80vw;
  font-size: 28px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  font-size: 24px;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  font-size: 22px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.flex-item {
  padding: 40px;
  border-radius: 4px;
  color: white;
  background-color: rgb(70, 74, 106);
}